@{
    ViewBag.Title = "Главная страница";
}
<link href="~/Content/scrolling-nav.css" rel="stylesheet" />


<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Добро пожаловать </h1>
        <p class="lead">в наш медицинский центр Клиника онлайн</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Клиника</h2>
                <p class="lead">В наше время достаточно сложно найти подходящее медицинское учреждение, где такое большое количество высококвалифицированных
                    специалистов. Наша Клиника поможет вам найти помощь в поиске хорошего доктора, который точно и самое главное правильно поставит диагноз после осмотра.</p>
                <ul>
                    <li>Наша Клиника имеет большой выбор специалистов различного профиля</li>
                    <li>Наши врачи с радостью помогут вам с вашими недугами</li>
                    <li>Клиника позволяет пройти осмотр любым желающим пациентам</li>
                    <li>Онлайн система позволяет записаться на осмотр не выходя из дома</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Услуги</h2>
                <p class="lead">Для никого не секрет, что самая главная цель медицинских учреждений - это помощь другим людям получить, то в чем они нуждаются и конечно же заслуживают. В первую очередь - это улучшение здоровья и внешнего вида. Наши врачи гарантируют максимум помощи для того, чтобы люди получили, то за чем пришли.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Контакты</h2>
                <p class="lead">Любой посетитель сайта может посмотреть список врачей, в котором не один замечательный врач и о которых вы скорее всего уже слышали. Все врачи пользуются большим спросом и мы ими очень гордимся. На странице со списком врачей, вы можете найти контактную информацию каждого из них. Доброго вам здоровьица.</p>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/scrolling-nav.js"></script>