@model IEnumerable<WebHospitalSystem.Models.AppointmentRecordVM>

<br />
<h2 class="toHide">Список деталей приема пациентов</h2>
<hr />
@{
    WebGrid webGrid = new WebGrid(source: Model);
    @webGrid.GetHtml(
        htmlAttributes: new { @class = "toHide appointmentRecordsTable", @id = "appointmentRecordsTable" },
        tableStyle: "table",
        columns: new[]{
            webGrid.Column(null, format: @<text>@Html.Raw("<input type='text' class='appId' hidden='hidden'value="+item.AppointmentId+" '/>")</text>),
            webGrid.Column("Symptom", "Жалобы"),
            webGrid.Column("Date", "Дата"),
            webGrid.Column(null, format: @<text>@Html.Raw("<input type='button' class='btn btn-light btns' value=Редактировать onclick='editAppointmentRecord("+item.AppointmentRecordId+")'/>")</text>),
            webGrid.Column(null, format: @<text>@Html.ActionLink("Удалить", "DeleteAppointmentRecord", new { appointmentRecordId = item.AppointmentRecordId }, 
                                                           new { @class = "btnsLink", onclick= "return confirm('Вы уверены что хотите удалить выбранную запись?');" })</text>)
})
}

<div id="popuprecords" style="display:none"></div>

<script type="text/javascript">
    function createAppointmentRecord(appointmentId) {
        alert(appointmentId);
        var x = $('#popuprecords');
        x.load('/appointment/createAppRecord?appointmentId=' + appointmentId, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Добавление деталей записи на прием",
                resizable: false
            });
        });
    }
    function editAppointmentRecord(appointmentRecordId) {
        var y = $('#popup');
        y.load('/appointment/editAppointmentRecord?appointmentRecordId=' + appointmentRecordId, function () {
            y.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Редактирование деталей записи приема",
                resizable: false
            });
        });
    }
</script>