@model IEnumerable<WebHospitalSystem.Models.AppointmentRecordVM>

<br />
<h2 class="toHide">Список деталей приема пациентов</h2>
<hr />

<p>
    <input class="toHide" type="button" value="Добавить детали к записи" onclick="createAppointmentRecord()" />
    <input id="selectedIdDetail" type="text" hidden="hidden" />
</p>
@{
    WebGrid webGrid = new WebGrid(source: Model);
    @webGrid.GetHtml(
        htmlAttributes: new { @class = "toHide appointmentRecordsTable", @id = "appointmentRecordsTable" },
        tableStyle: "table",
        columns: new[]{
        webGrid.Column("Symptom", "Жалобы"),
        webGrid.Column("Date", "Дата"),
        webGrid.Column(null, format: @<text>@Html.Raw("<input type='button' value=Редактировать onclick='editAppointmentRecord("+item.AppointmentId+")'/>" +
"<input type='button' value='Добавить детали' onclick='createAppointmentRecord("+item.AppointmentId+")'/>")</text>),
webGrid.Column(header: "Delete", format: @<text>@Html.ActionLink("X", "DeleteAppointmentRecord", new { appointmentRecordId = item.AppointmentRecordId }, new {onclick= "return confirm('Вы уверены что хотите удалить выбранную запись?');" })</text>),
})
}

<div id="popuprecords" style="display:none"></div>

<script type="text/javascript">
    function createAppointmentRecord(appointmentId) {
        var x = $('#popuprecords');
        x.load('/appointment/createAppointmentRecord?appointmentId=' + appointmentId, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Запись на прием",
                resizable: false
            });
        });
    }
    function editAppointmentRecord(appointmentRecordId) {
        var y = $('#popup');
        y.load('/appointment/editAppointmentRecord?appointmentRecordId=' + appointmentRecordId, function () {
            y.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 550,
                height: 600,
                title: "Редактирование деталей записи приема",
                resizable: false
            });
        });
    }
</script>