<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand" href="/">Клиника</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/Home/ListDoctors" class="nav-link">Врачи</a></li>
                @if (Request.IsAuthenticated && Session["Role"] != null && Session["Role"].ToString().Equals("Doctor"))
                {
                    <li class="nav-item"><a href="/Home/PatientsList" class="nav-link">Пациенты</a></li>
                    <li class="nav-item"><a href="/Appointment/ListAppointments" class="nav-link">Прием пациентов</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Найти пациента</a>
                        <div class="dropdown-menu">
                            <a href="/Home/FindPatientByIIN" class="dropdown-item">Найти пациента по ИИН</a>
                            <a href="/Home/FindPatientByFirstName" class="dropdown-item">Найти пациента по имени</a>
                            <a href="/Home/FindPatientByLastName" class="dropdown-item">Найти пациента по фамилии</a>
                            <a href="/Home/FindPatientByPatronymic" class="dropdown-item">Найти пациента по отчеству</a>
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
