@{
    ViewBag.Title = "Регистрация пользователей";
}

    <h2>Регистрация пользователей</h2>

<ul>
    <li>@Html.ActionLink("Регистрация врачей", "RegisterDoctor", "Account")</li>
    <li>@Html.ActionLink("Регистрация пациентов", "RegisterPatient", "Account")</li>
</ul>
